* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}



.main-container {
  display: flex;
  margin: 30px 20px;
}


.sidebar {
  width: 220px;
  position: sticky;
  top: 20px;
  background: #fff;
  border-radius: 20px;
  padding: 50px 15px;
  min-height: 700px;
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.05), 0 6px 12px rgba(0,0,0,0.1);
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  display: block;
  padding: 15px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: all 0.3s;
  background: #f5f7fa;
}

.sidebar ul li a:hover {
  background: #f88a15;
  color: black;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.sidebar ul li a.active {
  background: #f88a15;
  color: black;
  font-weight: bold;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  transform: translateX(30px); 
}

.main-content {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.progresso h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.progresso p {
  margin-bottom: 30px;
  color: #666;
}

.progresso-modulos h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.modulo {
  margin-bottom: 20px;
}

.modulo span:first-child {
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.barra {
  width: 100%;
  height: 18px;
  background: #e4e7eb;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.preenchimento {
  background: linear-gradient(135deg, #4caf50, #388e3c);
  height: 100%;
  width: 0%;
  border-radius: 12px;
  transition: width 1s ease-in-out;
}

.nota {
  float: right;
  margin-top: 4px;
  font-weight: bold;
}


#verMaisBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #1e3c72;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

#verMaisBtn:hover {
  background: #357ab7;
}


.conquistas h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.badge {
  background: white;
  border-radius: 15px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.badge h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.badge p {
  font-size: 0.9rem;
  color: #666;
}

