<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Progresso - Feedback</title>
  <link rel="stylesheet" href="/src/static/css/colaborador/feedback.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
  <link rel="stylesheet" href="/src/static/css/global.css">


</head>
<body>
  <div class="main-container">

    <aside class="sidebar">
      <nav>
        <ul>
          <li><a href="/src/templates/colaborador/modulo.html">Módulos</a></li>
          <li><a href="/src/templates/colaborador/perfil.html">Meu Perfil</a></li>
          <li><a href="/src/templates/colaborador/progresso.html">Meu Progresso</a></li>
          <li><a href="#" class="active">Feedback</a></li>
          <li><a href="/src/templates/colaborador/configuracoes.html">Configurações</a></li>
          <li><a href="/src/templates/auth/login.html">Sair</a></li>
        </ul>
      </nav>
    </aside>

    <div class="container">
      <div class="main-content">
        <h2>Feedbacks Recebidos</h2>
        <p>Mensagens e orientações da sua gestão</p>

        <div class="feedback-list" id="feedbackList">
          <!-- Cards de feedback serão carregados via JS -->
        </div>

        <button class="view-all-btn" id="viewAllBtn">Visualizar todos</button>
      </div>
    </div>
  </div>
   <footer class="footer">
    <hr class="footer-separator">
    <div class="footer-links">
        <a href="#">Política de Privacidade</a> | 
        <a href="#">Termos de Uso</a> | 
        <a href="#">Suporte</a>
    </div>
    <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
  </footer>

  <script src="/src/static/js/colaborador/feedback.js"></script>
  <script src="/src/static/js/global.js"></script>
</body>
</html>
