<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Progresso</title>
    <link rel="stylesheet" href="/src/static/css/colaborador/progresso.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>
    <header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="user-box">
    <span id="user-name">Olá, Usuário</span>
    <span class="user-role">Colaborador</span>
  </div>
</header>

<section class="banner">
  <img src="/src/static/img/banner.png" alt="Banner Plataforma">
</section>

<section class="info-cards-container">
  <div class="info-cards">
    <div class="card">
      <p>Ser uma empresa referência por sua <br> excelência em segurança e serviços.</p>
      <img src="/src/static/img/missao_icon.webp" alt="Missão">
    </div>
    <div class="card destaque">
      <p>Disponibilizar ao mercado soluções em serviços agregando tecnologia, atendimentos personalizado e técnicas de trabalho.</p>
      <img src="/src/static/img/visao_icons.webp" alt="Visão">
    </div>
    <div class="card">
      <p>Transparência, responsabilidade, ética e eficiência, consolidando assim a relação com nossos parceiros comerciais e colaboradores.</p>
      <img src="/src/static/img/valores_icon.webp" alt="Valores">
    </div>
  </div>
</section>

<div class="main-container">

  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="/src/templates/colaborador/perfil.html">Meu Perfil</a></li>
        <li><a href="/src/templates/colaborador/modulo.html">Módulos</a></li>
         <li><a href="#" class="active">Meu Progresso</a></li>
        <li><a href="/src/templates/colaborador/feedback.html">Feedback</a></li>
        <li><a href="/src/templates/colaborador/configuracoes.html">Configurações</a></li>
        <li><a href="/src/templates/auth/login.html">Sair</a></li>
      </ul>
    </nav>
  </aside>

  <script src="/src/static/js/colaborador/progresso.js"></script>
</body>
</html>