<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Progresso</title>
    <link rel="stylesheet" href="/src/static/css/colaborador/progresso.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>
    

<div class="main-container">

  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="/src/templates/colaborador/modulo.html">Módulos</a></li>
        <li><a href="/src/templates/colaborador/perfil.html">Meu Perfil</a></li>
         <li><a href="#" class="active">Meu Progresso</a></li>
        <li><a href="/src/templates/colaborador/feedback.html">Feedback</a></li>
        <li><a href="/src/templates/colaborador/configuracoes.html">Configurações</a></li>
        <li><a href="/src/templates/auth/login.html">Sair</a></li>
      </ul>
    </nav>
  </aside>

   <main class="main-content">
    <section class="progresso">
      <h1>Meu Progresso</h1>
      <p>Acompanhe sua evolução e conquistas</p>

      <div class="progresso-modulos">
        <h2>Progresso por Módulo</h2>
        <div class="modulo" data-percent="89">
          <span>Módulo 01 - Matrix Energia</span>
          <div class="barra">
            <div class="preenchimento" style="width: 0%"></div>
          </div>
          <span class="nota">89%</span>
        </div>
        <div class="modulo" data-percent="100">
          <span>Módulo 02 - Athon Energia</span>
          <div class="barra">
            <div class="preenchimento" style="width: 0%"></div>
          </div>
          <span class="nota">99%</span>
        </div>
        <div class="modulo" data-percent="0">
          <span>Módulo 03 - Ineer Energia</span>
          <div class="barra">
            <div class="preenchimento" style="width: 0%"></div>
          </div>
          <span class="nota">0%</span>
        </div>
        <div class="modulo" data-percent="0">
          <span>Módulo 04 - Sódre Santoro</span>
          <div class="barra">
            <div class="preenchimento" style="width: 0%"></div>
          </div>
          <span class="nota">0%</span>
        </div>

        <button id="verMaisBtn">Ver Mais</button>
      </div>
    </section>

    <section class="conquistas">
      <h2>Conquistas e Badges</h2>
      <div class="badge">
        <h3>Primeira Certificação</h3>
        <p>Complete seu primeiro módulo</p>
      </div>
      <div class="badge">
        <h3>Nota Máxima</h3>
        <p>Obtenha 100% em um exercício</p>
      </div>
      <div class="badge">
        <h3>Perfeccionista</h3>
        <p>Complete todos os módulos com 90%</p>
      </div>
    </section>
  </main>

  

  <script src="/src/static/js/colaborador/progresso.js"></script>
</body>
</html>