<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Revisão - Módulo 09</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo09.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 09 - Revisão </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 11"></div></div>
      
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo06/mod 06 pag 12.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 10 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 11 dark"></div></div>
  
  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo06dark/mod06 pag12 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>

<section class="exercises">
  <div id="timer">Tempo restante: 30:00</div>

  <div class="exercise-progress">
    <div class="exercise-progress-fill"></div>
  </div>

  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="b">
      <p><strong>1.</strong>Durante uma ronda noturna em uma usina, identifica movimento suspeito próximo à subestação, mas não há disparo de alarme. Qual deve ser a sequência correta de ações do operador?</p>
      <div class="options">
        <input type="radio" id="q1a" name="q1" value="a">
        <label for="q1a">Registrar ocorrência no sistema, continuar monitoramento e aguardar equipe de campo se houver confirmação posterior</label>

        <input type="radio" id="q1b" name="q1" value="b">
        <label for="q1b">Acionar prontamente equipe de pronta resposta, comunicar a gestão central e continuar monitoramento</label>

        <input type="radio" id="q1c" name="q1" value="c">
        <label for="q1c">Registrar o evento como falso disparo, já que não houve acionamento de sensor</label>

        <input type="radio" id="q1d" name="q1" value="d">
        <label for="q1d">Apenas contatar o supervisor e aguardar instruções antes de qualquer medida física</label>
      </div>
    </div>

    
    <div class="exercise-slide" data-answer="a">
      <p><strong>2.</strong>Em uma usina, ocorre queda total de energia e falha nos sistemas de CFTV. Considerando risco e continuidade operacional, qual é a abordagem correta? </p>
      <div class="options">
        <input type="radio" id="q2a" name="q2" value="a">
        <label for="q2a">Confirmar situação via CCO, acionar equipe local, verificar geradores, e sistemas críticos de segurança e refrigeração</label>

        <input type="radio" id="q2b" name="q2" value="b">
        <label for="q2b">Aguardar retorno de energia e depois checar sistemas críticos</label>

        <input type="radio" id="q2c" name="q2" value="c">
        <label for="q2c">Notificar supervisor e registrar o evento, aguardando normalização</label>

        <input type="radio" id="q2d" name="q2" value="d">
        <label for="q2d">Iniciar reinício remoto dos sistemas sem contatar equipe local ou CCO</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>3.</strong>Um disparo de alarme ocorre em unidade fechada com CFTV parcialmente off-line, e o botão de pânico é acionado. Qual ação imediata é mais adequada?</p>
      <div class="options">
        <input type="radio" id="q3a" name="q3" value="a">
        <label for="q3a">Contatr unidade via senha/contrassenha, acionar viatura e Polícia Militar, registrar ocorrência detalhada</label>

        <input type="radio" id="q3b" name="q3" value="b">
        <label for="q3b">Aguardar confirmação das câmeras restantes antes de acionar equipes de pronta resposta</label>

        <input type="radio" id="q3c" name="q3" value="c">
        <label for="q3c">Encerrar evento como falso disparo, devido à falta de visualização completa</label>

        <input type="radio" id="q3d" name="q3" value="d">
        <label for="q3d">Apenas notificar supervisor da central e registrar no sistema</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>4.</strong> </p>
      <div class="options">
        <input type="radio" id="q4a" name="q4" value="a">
        <label for="q4a">Aguardar próxima ronda para averiguação visual</label>

        <input type="radio" id="q4b" name="q4" value="b">
        <label for="q4b">Registrar evento como não crítico, aguardando confirmação posterior</label>

        <input type="radio" id="q4c" name="q4" value="c">
        <label for="q4c">Acionar apenas a polícia militar, ignorando contatos internos</label>

        <input type="radio" id="q4d" name="q4" value="d">
        <label for="q4d">Acionar contatos de contingência na ordem predefinida, registrar todas as tentativas e informar a gestão central</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>5.</strong>Durante portaria remota, um entregador de grande porte chega sem autorização expressa e o morador não atende. O operador deve:</p>
      <div class="options">
        <input type="radio" id="q5a" name="q5" value="a">
        <label for="q5a">Negar entrada, registrar evento e acionar síndico/zelador para liberação supervisionada</label>

        <input type="radio" id="q5b" name="q5" value="b">
        <label for="q5b">Liberar o entregador, mas registrar no sistema</label>

        <input type="radio" id="q5c" name="q5" value="c">
        <label for="q5c">Aguardar retorno do morador para autorizar entrada</label>

        <input type="radio" id="q5d" name="q5" value="d">
        <label for="q5d">Encaminhar o entregador até a unidade sem intervenção</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>6.</strong>Em agência BASA, ocorre disparo de GN durante expediente, sem evidência de invasão. Qual é a sequência correta?</p>
      <div class="options">
        <input type="radio" id="q6a" name="q6" value="a">
        <label for="q6a">Abrir ordem de serviço para manutenção, monitorar via CFTV e manter GESEC informado</label>

        <input type="radio" id="q6b" name="q6" value="b">
        <label for="q6b">Encerrar evento como falso disparo, sem comunicação adicional</label>

        <input type="radio" id="q6c" name="q6" value="c">
        <label for="q6c">Acionar apenas polícia militar, sem notificar GESEC</label>

        <input type="radio" id="q6d" name="q6" value="d">
        <label for="q6d">Apenas registrar no sistema e aguardar orientação</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>7.</strong>Um disparo de alarme ocorre em loja fechada simultaneamente com falha de comunicação GPRS. Qual ação correta? </p>
      <div class="options">
        <input type="radio" id="q7a" name="q7" value="a">
        <label for="q7a">Encerrar evento, pois falha de comunicação invalida o disparo</label>

        <input type="radio" id="q7b" name="q7" value="b">
        <label for="q7b">Notificar apenas supervisor local</label>

        <input type="radio" id="q7c" name="q7" value="c">
        <label for="q7c">Verificar última comunicação, agurdar breve período, acessar CFTV se disponível e acionar viatura se não houver confirmação</label>

        <input type="radio" id="q7d" name="q7" value="d">
        <label for="q7d">Registrar como disparo técnico e continuar monitoramento remoto</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>8.</strong>Em um usina, um alarme é identificado como "sem visibilidade". Quando acionar Polícia Militar imediatamente?</p>
      <div class="options">
        <input type="radio" id="q8a" name="q8" value="a">
        <label for="q8a">Sempre que houver disparo sem visibilidade</label>

        <input type="radio" id="q8b" name="q8" value="b">
        <label for="q8b">Somente se houver indício relevante de sinistro mesmo sem imagens</label>

        <input type="radio" id="q8c" name="q8" value="c">
        <label for="q8c">Nunca, pois sem imagens não há confirmação</label>

        <input type="radio" id="q8d" name="q8" value="d">
        <label for="q8d">Apenas após o contato com supervisor local para orientação</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>9.</strong>Queda total de todas as usinas em uma rede, sem comunicação com a gestão central, ocorre simultaneamente. Qual é a sequência correta de acionamento?</p>
      <div class="options">
        <input type="radio" id="q9a" name="q9" value="a">
        <label for="q9a">Aguardar intruções da gestão central antes de qualquer ação</label>

        <input type="radio" id="q9b" name="q9" value="b">
        <label for="q9b">Verificar sistemas remotamente, acionar equipes locais, registrar detalhadamente e escalar paraa supervisão regional</label>

        <input type="radio" id="q9c" name="q9" value="c">
        <label for="q9c">Encerrar evento como falhas sistêmicas sem contato adicional</label>

        <input type="radio" id="q9d" name="q9" value="d">
        <label for="q9d">Realizar reinício remoto em massa e monitorar resposta</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong>Durante portaria remota, prestador de serviço esporádico chega com cadastro incompleto. Qual ação correta?</p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">Liberar acesso automaticamente, registrando no sistema</label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b">Negar acesso e registrar como não ofendido</label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c">Aguardar retorno do morador antes de qualquer medida</label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d">Contatar síndico ou zelador, acompanhar prestação do serviço e registrar dados/documentos</label>
      </div>
    </div>

     <div class="exercise-slide" data-answer="b">
      <p><strong>11.</strong>No leilão de veículos, ocorre falha parcial de câmeras durante movimentação suspeita. Qual prioridade imediata?</p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">Registrar o evento e aguardar próxima ronda</label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b">Acionar contato de checagem, registrar horários e imagens, solicitar manutenção se necessário</label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c">Ignorar, pois apenas falha parcial ocorreu</label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d">Desligar todas as câmeras até manutenção</label>
      </div>
    </div>
     <div class="exercise-slide" data-answer="b">
      <p><strong>12.</strong>Um disparo de pânico ocorre dentro de unidade residencial, mas CFTV confirma ausência de anormalidade. Procedimento correto?</p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a"></label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b"></label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c"></label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d"></label>
      </div>
    </div>

     <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong>Durante portaria remota, prestador de serviço esporádico chega com cadastro incompleto. Qual ação correta?</p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">Liberar acesso automaticamente, registrando no sistema</label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b">Negar acesso e registrar como não ofendido</label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c">Aguardar retorno do morador antes de qualquer medida</label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d">Contatr síndico ou zelador, acompanhar prestação do serviço e registrar dados/documentos</label>
      </div>
    </div>

     <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong>Durante portaria remota, prestador de serviço esporádico chega com cadastro incompleto. Qual ação correta?</p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">Liberar acesso automaticamente, registrando no sistema</label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b">Negar acesso e registrar como não ofendido</label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c">Aguardar retorno do morador antes de qualquer medida</label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d">Contatr síndico ou zelador, acompanhar prestação do serviço e registrar dados/documentos</label>
      </div>
    </div>

     <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong>Durante portaria remota, prestador de serviço esporádico chega com cadastro incompleto. Qual ação correta?</p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">Liberar acesso automaticamente, registrando no sistema</label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b">Negar acesso e registrar como não ofendido</label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c">Aguardar retorno do morador antes de qualquer medida</label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d">Contatr síndico ou zelador, acompanhar prestação do serviço e registrar dados/documentos</label>
      </div>
    </div>

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo09.js"></script>
</body>
</html>
