<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo07.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 07 - Portaria Remota</h2>
  <p>Complete esse módulo para avançar para os exercícios</p>

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/Módulo 07.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 11.png" alt="página 11"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 12.png" alt="página 12"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 13.png" alt="página 13"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 14.png" alt="página 14"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 15.png" alt="página 15"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 16.png" alt="página 16"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 17.png" alt="página 17"></div></div>
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo07/mod 07 pag 18.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
     <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 07</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="d">
      <p><strong>1.</strong> Sobre o atendimento ao funcionário de uma unidade residencial, assinale a alternativa correta:</p>
      <div class="options">
        <label><input type="radio" name="q1" value="a"> Todos os funcionários cadastrados têm liberação automática</label>
        <label><input type="radio" name="q1" value="b"> Apenas os funcionários com contrato formal assinado podem ser liberados</label>
        <label><input type="radio" name="q1" value="c"> Funcionários sem liberação prévia devem ser autorizados pelo zelador</label>
        <label><input type="radio" name="q1" value="d"> Funcionários com liberação para dias específicos só poderão acessar se coincidir</label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="b">
      <p><strong>2.</strong> Em qual situação o entregador de pequeno porte poderá subir à unidade?</p>
      <div class="options">
        <label><input type="radio" name="q2" value="a"> Sempre que houver confirmação do nome do morador</label>
        <label><input type="radio" name="q2" value="b"> Apenas se houver autorização expressa do síndico</label>
        <label><input type="radio" name="q2" value="c"> Se for portador de alimentos perecíveis</label>
        <label><input type="radio" name="q2" value="d"> Quando estiver fora do horário comercial</label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="c">
      <p><strong>3.</strong> Qual procedimento deve ser adotado diante de um disparo de coação com presença de terceiros?</p>
      <div class="options">
        <label><input type="radio" name="q3" value="a"> Fazer contato imediato com o morador</label>
        <label><input type="radio" name="q3" value="b"> Encerrar o evento se não houver barulho </label>
        <label><input type="radio" name="q3" value="c"> Observar via CFTV e acionar a polícia se houver atividade suspeita </label>
        <label><input type="radio" name="q3" value="d"> Esperar o morador sair do condomínio </label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="c">
      <p><strong>4.</strong> No sistema My Vilage, onde são registradas as regras específicas de um condomínio? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a"> Aba "Documentos"</label>
        <label><input type="radio" name="q4" value="b"> Aba "Condomínio" </label>
        <label><input type="radio" name="q4" value="c"> Aba "Anotações" </label>
        <label><input type="radio" name="q4" value="d"> Aba "Visitantes" </label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="c">
      <p><strong>5.</strong> Em caso de queda de energia em um condomínio com portaria remota, qual o procedimento correto?</p>
      <div class="options">
        <label><input type="radio" name="q5" value="a"> Aguardar o retorno da energia para agir </label>
        <label><input type="radio" name="q5" value="b"> Enviar equipe técnica imediatamente sem consulta </label>
        <label><input type="radio" name="q5" value="c"> Contatar zelador/síndico para verificar situação e previsão de retorno </label>
        <label><input type="radio" name="q5" value="d"> Desconsiderar o evento se houver gerador </label>
      </div>
    </div>
  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo07.js"></script>
</body>
</html>
