<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo06.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 06 - Procedimento Operacional Padrão </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo06/mod 06 pag 11.png" alt="página 11"></div></div>
      
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo06/mod 06 pag 12.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag01 dark.png" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag02 dark.png" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag03 dark.png" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag04 dark.png" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag05 dark.png" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag06 dark.png" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag07 dark.png" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag08 dark.png" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag09 dark.png" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag10 dark.png" alt="página 10 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo06dark/mod06 pag11 dark.png" alt="página 11 dark"></div></div>
  
  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo06dark/mod06 pag12 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 06</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="c">
      <p><strong>1.</strong>Qual é a principal função do agente de pronta resposta? </p>
      <div class="options">
        <label><input type="radio" name="q1" value="a">Realizar rondas periódicas em áreas externas </label>
        <label><input type="radio" name="q1" value="b">Atender chamadas telefônicas no monitoramento </label>
        <label><input type="radio" name="q1" value="c">Verificar localmente em casos de disparos de alarme </label>
        <label><input type="radio" name="q1" value="d">Fazer manutenção preventiva dos sensores </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>2.</strong>O que caracteriza a ronda? </p>
      <div class="options">
        <label><input type="radio" name="q2" value="a">Sempre ocorre após disparo de alarme</label>
        <label><input type="radio" name="q2" value="b">É a verificação sem disparo de alarme, motivado por situações específicas </label>
        <label><input type="radio" name="q2" value="c">É usada apenas quando há invasão confirmada </label>
        <label><input type="radio" name="q2" value="d">Só pode ser realizada pela polícia militar </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>3.</strong>Qual sensor é mais indicados para uso em entradas e janelas internas, evitando disparos falsos? </p>
      <div class="options">
        <label><input type="radio" name="q3" value="a">IVA - Infravermelho Ativo </label>
        <label><input type="radio" name="q3" value="b">IVP - Infravermelho Passivo  </label>
        <label><input type="radio" name="q3" value="c">Sensor magnético  </label>
        <label><input type="radio" name="q3" value="d">Câmera IP </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>4.</strong>No monitoramento Kit-Anti-Arrastão, quais equipamentos compõem a instalação básica? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a">Câmera IP, sirene e cerca elétrica </label>
        <label><input type="radio" name="q4" value="b">Dois IVPs, sensor magnético e dois botões de pânico  </label>
        <label><input type="radio" name="q4" value="c">Câmera IP, teclado e central de alarme  </label>
        <label><input type="radio" name="q4" value="d">Câmera IP, sensor magnético e dois botões de pânico  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>5.</strong>Qual é a ordem correta de acionamento no monitoramento de alarme com CFTV? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Polícia Militar > Pronta resposta > Supervisor > Cliente  </label>
        <label><input type="radio" name="q5" value="b">Cliente > Polícia Militar > Supervisor > Pronta resposta  </label>
        <label><input type="radio" name="q5" value="c">Supervisor > Cliente > Pronta resposta > Polícia Militar  </label>
        <label><input type="radio" name="q5" value="d">Pronta resposta > Polícia Militar > Cliente > Supervisor  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>6.</strong>O evento de "Teste de Reporte Periódico" no SIGMA significa: </p>
      <div class="options">
        <label><input type="radio" name="q6" value="a">Teste automático da central de alarme feito a cada 1 hora </label>
        <label><input type="radio" name="q6" value="b">Teste manual realizado pelo operador do monitoramento </label>
        <label><input type="radio" name="q6" value="c">Falha de energia que afeta a comunicação </label>
        <label><input type="radio" name="q6" value="d">Relatório diário enviados para o cliente  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>7.</strong>O que deve ser feito quando ocorre "Falha de Comunicação" no sistema de alarme?</p>
      <div class="options">
        <label><input type="radio" name="q7" value="a">Encerrar imediatamente o evento </label>
        <label><input type="radio" name="q7" value="b">Apenas gerar um relatório no SIGMA  </label>
        <label><input type="radio" name="q7" value="c">Verificar imagens, contatar colaborador e acompanhar até normalizar  </label>
        <label><input type="radio" name="q7" value="d">Acionar diretamente a Polícia militar  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>8.</strong>O evento "Disparo de Pânico" deve ser tratado da seguinte forma: </p>
      <div class="options">
        <label><input type="radio" name="q8" value="a">Sempre ignorado, pois pode ser apenas teste </label>
        <label><input type="radio" name="q8" value="b">Contato imediato, senha/contrassenha e, se negativo, acionar pronta resposta + 190 </label>
        <label><input type="radio" name="q8" value="c">Apenas comunicado ao supervisor  </label>
        <label><input type="radio" name="q8" value="d">Resolvido com abertura de ordem de serviço  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>9.</strong>O evento "Não Armado" ocorre quando: </p>
      <div class="options">
        <label><input type="radio" name="q9" value="a">O alarme dispara sem motivo  </label>
        <label><input type="radio" name="q9" value="b">A central não recebe teste automático  </label>
        <label><input type="radio" name="q9" value="c">O alarme não foi ativados no horário programado </label>
        <label><input type="radio" name="q9" value="d">A bateria da central apresenta carga baixa  </label>
      </div>
    </div>

    

    <div class="exercise-slide" data-answer="c">
      <p><strong>10.</strong>Quando a central registra "Tamper", o que isso significa?  </p>
      <div class="options">
        <label><input type="radio" name="q10" value="a">Alteração na programação feita pelo cliente  </label>
        <label><input type="radio" name="q10" value="b">Perda de comunicação entre central e sensores  </label>
        <label><input type="radio" name="q10" value="c">Adulteração ou abertura indevida de sensores/central </label>
        <label><input type="radio" name="q10" value="d">Alarme disparado fora do horário programado  </label>
      </div>
    </div>
    

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo06.js"></script>
</body>
</html>
