<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo04.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 04 - Monitoramento de Leilão de Veículos </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo04/mod 04 pag 11.png" alt="página 11"></div></div>
    
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo04/mod 04 pag 12.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 04</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="c">
      <p><strong>1.</strong>Qual é o procedimento correto caso a área trancada do corredor lateral do galpão seja acessada sem aviso prévio durante o horário comercial? </p>
      <div class="options">
        <label><input type="radio" name="q1" value="a">Registrar o evento e aguardar contato do responsável </label>
        <label><input type="radio" name="q1" value="b">Acionar imediatamente a polícia militar e bloquear o acesso </label>
        <label><input type="radio" name="q1" value="c">Acionar o contato de checagem, registrar imagens e confirmar o fechamento posterior </label>
        <label><input type="radio" name="q1" value="d">Desconsiderar, pois a movimentação pode ser rotineira durante o horário comercial </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>2.</strong>Em caso de queda parcial das câmeras, qual deve ser a sequência de ações do operador? </p>
      <div class="options">
        <label><input type="radio" name="q2" value="a">Registrar o horário, identificar câmeras afetadas, acionar suporte técnico e informar o gestor</label>
        <label><input type="radio" name="q2" value="b">Reiniciar o sistema e agurdar retorno automático </label>
        <label><input type="radio" name="q2" value="c">Acionar a polícia, registrar o evento e informar o contato de contigência </label>
        <label><input type="radio" name="q2" value="d">Desconsiderar o evento parcial e priorizar outras ocorrências </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>3.</strong>Os contatos de contigência devem ser acionados: </p>
      <div class="options">
        <label><input type="radio" name="q3" value="a">Quando o operador desejar reforçar a segurança </label>
        <label><input type="radio" name="q3" value="b">Quando o contato de checagem principal não responde  </label>
        <label><input type="radio" name="q3" value="c">Em qualquer situação, antes do contato de checagem  </label>
        <label><input type="radio" name="q3" value="d">Somente em horário comercial </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>4.</strong>O que caracteriza as "áreas trancadas" do pátio de leilões? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a">Locais destinados ao público externo </label>
        <label><input type="radio" name="q4" value="b">Corredores de acesso livre para funcionários  </label>
        <label><input type="radio" name="q4" value="c">Zonas sensíveis onde são guardadas motos de maior valor  </label>
        <label><input type="radio" name="q4" value="d">Galpões destinados à manutenção de veículos  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>5.</strong>Qual ação deve ser tomada ao identificar a abertura de uma área trancada fora do horário permitido? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Ignorar se não houver movimentação de veículos  </label>
        <label><input type="radio" name="q5" value="b">Acionar o contato de contigência imediatamente  </label>
        <label><input type="radio" name="q5" value="c">Apenas registrar o horário  </label>
        <label><input type="radio" name="q5" value="d">Acionar o contato de checagem e registrar horário, imagens e fechamento  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>6.</strong>Um terceiro liga solicitando imagens do pátio. O que o operador deve fazer? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Encaminhar apenas se for alguém conhecido </label>
        <label><input type="radio" name="q5" value="b">Informar que a solicitação deve ser feita por e-mail, sem realizar o envio direto </label>
        <label><input type="radio" name="q5" value="c">Redirecionar a solicitação aos responsáveis por e-mail, sem realizar o envio direto </label>
        <label><input type="radio" name="q5" value="d">Solicitar autorização verbal e, se concedida, enviar os arquivos  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>7.</strong>O que o operador deve fazer caso todas as câmeras da unidade saiam do ar durante a madrugada e o contato de checagem não atenda?</p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Acionar diretamente a polícia e encerra o relatório após </label>
        <label><input type="radio" name="q5" value="b">Aguardar 30 minutos e tentar contato novamente  </label>
        <label><input type="radio" name="q5" value="c">Acionar os contatos de contigência na ordem definida e informar a gestão central  </label>
        <label><input type="radio" name="q5" value="d">Desconsiderar, já que é comum falha técnica fora do horário comercial </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>8.</strong>Qual o canal correto para acionar o contato de checagem? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Redes sociais corporativos </label>
        <label><input type="radio" name="q5" value="b">Ligação via canal oficial </label>
        <label><input type="radio" name="q5" value="c">Comunicação direta com a portaria  </label>
        <label><input type="radio" name="q5" value="d">Via e-mail  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>9.</strong>Se o contato de checagem não atender, qual a sequência correta dos contatos de contigência? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Responsável 1 > Polícia Militar > Responsável 2 > Checagem  </label>
        <label><input type="radio" name="q5" value="b">Polícia Militar > Checagem local > Reponsável 1 > Responsável 2  </label>
        <label><input type="radio" name="q5" value="c">Responsável 2 > Checagem local > Responsável 1 > Polícia Militar </label>
        <label><input type="radio" name="q5" value="d">Checagem local > Polícia Militar > Responsável 1 > Responsável 2  </label>
      </div>
    </div>

    

    <div class="exercise-slide" data-answer="c">
      <p><strong>10.</strong>Em caso de ocorrência, o que o operador deve fazer?  </p>
      <div class="options">
        <label><input type="radio" name="q10" value="a">Escrever um bilhete e deixar na mesa do supervisor  </label>
        <label><input type="radio" name="q10" value="b">Falar verbalmente com o segurança local  </label>
        <label><input type="radio" name="q10" value="c">Gerar ocorrência no sistema e encaminhar e-mail aos responsáveis, com todos os dados e anexos necessários </label>
        <label><input type="radio" name="q10" value="d">Ligar para o cliente solicitando instruções  </label>
      </div>
    </div>
    

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo01.js"></script>
</body>
</html>
