<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo08.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 01 - Matrix Energia </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 02 (1).png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 03 (1).png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 04 (1).png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 05 (1).png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 11.png" alt="página 11"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 12.png" alt="página 12"></div></div>
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo01/mod 01 pag 13.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag01 dark.png" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag02 dark.png" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag03 dark.png" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag04 dark.png" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag05 dark.png" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag06 dark.png" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag07 dark.png" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag08 dark.png" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag09 dark.png" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag10 dark.png" alt="página 10 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag11 dark.png" alt="página 11 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo01dark/mod01 pag12 dark.png" alt="página 12 dark"></div></div>
  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo01dark/mod01 pag13 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 08</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="b">
      <p><strong>1.</strong>O horário de auto arme da tesouraria da agência é: </p>
      <div class="options">
        <label><input type="radio" name="q1" value="a">22h00 </label>
        <label><input type="radio" name="q1" value="b">21h00 </label>
        <label><input type="radio" name="q1" value="c">20h30 </label>
        <label><input type="radio" name="q1" value="d">06h00 </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>2.</strong>Em caso de entrada fora do expediente com pessoa acompanhando o gerente, o procedimento correto é: </p>
      <div class="options">
        <label><input type="radio" name="q2" value="a">Aguardar a entrada do gerente</label>
        <label><input type="radio" name="q2" value="b">Liberar ambos após verificação facial </label>
        <label><input type="radio" name="q2" value="c">Recusar a entrada e acionar GESEC e GERED </label>
        <label><input type="radio" name="q2" value="d">Permitir apenas o gerente entrar </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>3.</strong>Em caso de disparo de botão de pânico, qual a ação inicial? </p>
      <div class="options">
        <label><input type="radio" name="q3" value="a">Aguardar confirmação por WhataApp </label>
        <label><input type="radio" name="q3" value="b">Acionar diretamente a polícia militar  </label>
        <label><input type="radio" name="q3" value="c">Observar via CFTV e só acionar se houver sinistro  </label>
        <label><input type="radio" name="q3" value="d">Informar apenas ao gerente </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>4.</strong>Qual das opções exige ordem de serviço no sistema Cherwell? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a">Queda de energia </label>
        <label><input type="radio" name="q4" value="b">Recadastramento de funcionário  </label>
        <label><input type="radio" name="q4" value="c">Arrastão criminoso  </label>
        <label><input type="radio" name="q4" value="d">Entrada de moradores de rua  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>5.</strong>O desarme do hall de atendimento ocorre automaticamente às: </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">06h00 </label>
        <label><input type="radio" name="q5" value="b">07h30 </label>
        <label><input type="radio" name="q5" value="c">08h00 </label>
        <label><input type="radio" name="q5" value="d">05h00 </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>6.</strong>Quais sensores podem causar disparo acidental? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">CFTV, ATM, GN </label>
        <label><input type="radio" name="q5" value="b">Sensor sísmico, quebra vidro e de presença </label>
        <label><input type="radio" name="q5" value="c">Detector de fumaça e som </label>
        <label><input type="radio" name="q5" value="d">Controle de acesso e porta de cofre  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>7.</strong>O acesso ao cofre fora de horário só é permitido em:</p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Autorização de emergência médica </label>
        <label><input type="radio" name="q5" value="b">Situações de emergência médica </label>
        <label><input type="radio" name="q5" value="c">Acompanhamento da polícia em caso de sinistro  </label>
        <label><input type="radio" name="q5" value="d">Mudança de turno </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>8.</strong>Quais situações requerem aviso com 24h de antecedência ao GESEC? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Solicitação de café da manhã no banco </label>
        <label><input type="radio" name="q5" value="b">Entrada de gerente para retirada de documentos </label>
        <label><input type="radio" name="q5" value="c">Abertura excepcional da agência ou trabalho de terceiros  </label>
        <label><input type="radio" name="q5" value="d">Reposição de insumos nos ATMs </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>9.</strong>Se a polícia estiver em outra ocorrência, a central deve: </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Enviar o gerente até a agência  </label>
        <label><input type="radio" name="q5" value="b">Ignorar o alarme </label>
        <label><input type="radio" name="q5" value="c">Acompanhar pelo CFTV e preservar o gerente </label>
        <label><input type="radio" name="q5" value="d">Desarmar os sensores </label>
      </div>
    </div>

    

    <div class="exercise-slide" data-answer="c">
      <p><strong>10.</strong>Quando há moradores de rua no hall após 22h15, o procedimento correto é:  </p>
      <div class="options">
        <label><input type="radio" name="q10" value="a">Acionar o GN sem aviso  </label>
        <label><input type="radio" name="q10" value="b">Ignorar e agurdar a saída espontânea  </label>
        <label><input type="radio" name="q10" value="c">Acionar sirene, abrir hall manualmente e se necessário, usar GN curto </label>
        <label><input type="radio" name="q10" value="d">Enviar gerente para retirada  </label>
      </div>
    </div>
    

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo08.js"></script>
</body>
</html>
