<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix Energia - Módulo 01</title>
    <link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo02.css">
    <link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 03 - Monitoramento de Usina</h2>
  <p>Complete esse módulo para avançar para os exercícios</p>

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides de conteúdo -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 11"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 12"></div></div>
      <!-- Último slide com botão finalizar -->
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo01/mod 01 pag 13.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
  </div>
</section>

<section class="exercises" style="display: none; text-align: center;">
  <h2>Exercícios do Módulo 03</h2>
  <br>
  <hr>
  <br>
  <form id="exercise-form">
    <div class="question" data-answer="c">
      <p>1. </p>
      <label><input type="radio" name="q1" value="a"> A) </label><br>
      <label><input type="radio" name="q1" value="b"> B) </label><br>
      <label><input type="radio" name="q1" value="c"> C) </label><br>
      <label><input type="radio" name="q1" value="d"> D) </label>
    </div>
    <br>

    <div class="question" data-answer="a">
      <p>2. </p>
      <label><input type="radio" name="q2" value="a"> A) </label><br>
      <label><input type="radio" name="q2" value="b"> B) </label><br>
      <label><input type="radio" name="q2" value="c"> C) </label><br>
      <label><input type="radio" name="q2" value="d"> D) </label>
    </div>
    <br>

    <div class="question" data-answer="c">
      <p>3. </p>
      <label><input type="radio" name="q3" value="a"> A) </label><br>
      <label><input type="radio" name="q3" value="b"> B) </label><br>
      <label><input type="radio" name="q3" value="c"> C) </label><br>
      <label><input type="radio" name="q3" value="d"> D) </label>
    </div>
    <br>

    <div class="question" data-answer="a">
      <p>4. </p>
      <label><input type="radio" name="q4" value="a"> A) </label><br>
      <label><input type="radio" name="q4" value="b"> B) </label><br>
      <label><input type="radio" name="q4" value="c"> C) </label><br>
      <label><input type="radio" name="q4" value="d"> D) </label>
    </div>
    <br>

        <div class="question" data-answer="a">
      <p>5. </p>
      <label><input type="radio" name="q5" value="a"> A) </label><br>
      <label><input type="radio" name="q5" value="b"> B) </label><br>
      <label><input type="radio" name="q5" value="c"> C) </label><br>
      <label><input type="radio" name="q5" value="d"> D) </label>
    </div>
    <br>

    <div class="question" data-answer="b">
      <p>6. </p>
      <label><input type="radio" name="q6" value="a"> A) </label><br>
      <label><input type="radio" name="q6" value="b"> B) </label><br>
      <label><input type="radio" name="q6" value="c"> C) </label><br>
      <label><input type="radio" name="q6" value="d"> D) </label>
    </div>
    <br>
    
    <div class="question" data-answer="b">
      <p>7.</p>
      <label><input type="radio" name="q7" value="a"> A) </label><br>
      <label><input type="radio" name="q7" value="b"> B) </label><br>
      <label><input type="radio" name="q7" value="c"> C) </label><br>
      <label><input type="radio" name="q7" value="d"> D) </label>
    </div>
    <br>

     <div class="question" data-answer="c">
      <p>8. </p>
      <label><input type="radio" name="q8" value="a"> A) </label><br>
      <label><input type="radio" name="q8" value="b"> B) </label><br>
      <label><input type="radio" name="q8" value="c"> C) </label><br>
      <label><input type="radio" name="q8" value="d"> D) </label>
    </div>
    <br>

    <div class="question" data-answer="d">
      <p>9. </p>
      <label><input type="radio" name="q9" value="a"> A) </label><br>
      <label><input type="radio" name="q9" value="b"> B) </label><br>
      <label><input type="radio" name="q9" value="c"> C) </label><br>
      <label><input type="radio" name="q9" value="d"> D) </label>
    </div>
    <br>

     <div class="question" data-answer="b">
      <p>10. </p>
      <label><input type="radio" name="q9" value="a"> A) </label><br>
      <label><input type="radio" name="q9" value="b"> B) </label><br>
      <label><input type="radio" name="q9" value="c"> C) </label><br>
      <label><input type="radio" name="q9" value="d"> D) </label>
    </div>
    <br>

   

    <button type="submit" class="btn-submit">Enviar Exercícios</button>
  </form>
  <div id="score" style="margin-top:20px; font-size:18px; font-weight:bold;"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo01.js"></script>
</body>
</html>