<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo05.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 05 - Comolatti </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo05/mod05 pag10.png" alt="página 10"></div></div>
     
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo05/mod05 pag11.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag01 dark.png" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag02 dark.png" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag03 dark.png" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag04 dark.png" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag05 dark.png" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag06 dark.png" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag07 dark.png" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag08 dark.png" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag09 dark.png" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo05dark/mod05 pag10 dark.png" alt="página 10 dark"></div></div>

  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo05dark/mod05 pag11 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>

<section class="exercises">
  <div id="timer">Tempo restante: 30:00</div>

  <div class="exercise-progress">
    <div class="exercise-progress-fill"></div>
  </div>

  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="c">
      <p><strong>1.</strong>Um evento de Teste de Reporte Periódico aparece no sistema e não pe seguido de nenhuma outra anormalidade. O que o operador deve fazer?</p>
      <div class="options">
        <input type="radio" id="q1a" name="q1" value="a">
        <label for="q1a">Confirmar manualmente o fechamento do evento e registrar no relatório</label>

        <input type="radio" id="q1b" name="q1" value="b">
        <label for="q1b">Aguardar o retorno do cliente e só então encerrar</label>

        <input type="radio" id="q1c" name="q1" value="c">
        <label for="q1c">Nenhuma ação é necessária, pois o evento possui fechamento automático</label>

        <input type="radio" id="q1d" name="q1" value="d">
        <label for="q1d">Acionar a equipe técnica para confirmar a comunicação da central</label>
      </div>
    </div>

    
    <div class="exercise-slide" data-answer="b">
      <p><strong>2.</strong>Um operador recebe um evento de Falha de Auto Teste e, ao verificar, nota que a unidade está fechada. Qual deve ser o primeiro passo?</p>
      <div class="options">
        <input type="radio" id="q2a" name="q2" value="a">
        <label for="q2a">Acionar a viatura imediatamente</label>

        <input type="radio" id="q2b" name="q2" value="b">
        <label for="q2b">Aguardar cerca de 5 minutos para descartar oscilações momentâneas</label>

        <input type="radio" id="q2c" name="q2" value="c">
        <label for="q2c">Acessar o CFTV da unidade antes de qualquer espera</label>

        <input type="radio" id="q2d" name="q2" value="d">
        <label for="q2d">Ligar para o cliente para confirmar o status do alarme</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>3.</strong>Durante análise de um evento de Falha na Comunicação, o operador observa que o horário da última comunicação é anterior ao do evento. O que isso indica?</p>
      <div class="options">
        <input type="radio" id="q3a" name="q3" value="a">
        <label for="q3a">Que o evento pode ser encerrado sem necessidade de ação</label>

        <input type="radio" id="q3b" name="q3" value="b">
        <label for="q3b">Que o sistema está off-line e o operador deve acessar o CFTV e seguir protocolo de suporte técnico</label>

        <input type="radio" id="q3c" name="q3" value="c">
        <label for="q3c">Que houve erro de registro, devendo ser ignorado</label>

        <input type="radio" id="q3d" name="q3" value="d">
        <label for="q3d">Que o alarme foi armado incorretamente</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>4.</strong>O operador recebe um evento de Armado pelo Usuário com nome identificado. Como deve proceder? </p>
      <div class="options">
        <input type="radio" id="q4a" name="q4" value="a">
        <label for="q4a">Realizar o contato com o cliente para confirmar a ação</label>

        <input type="radio" id="q4b" name="q4" value="b">
        <label for="q4b">Registrar manualmente o evento e encerrar após validação</label>

        <input type="radio" id="q4c" name="q4" value="c">
        <label for="q4c">Aguardar o fechamento automático, sem necessidade de intervenção manual</label>

        <input type="radio" id="q4d" name="q4" value="d">
        <label for="q4d">Consultar o histórico de alarmes para validar a origem</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>5.</strong>Um evento de Disparo de Alarme é gerado em uma unidade fechada, com o sistema de CFTV fora do ar. Qual é o procedimento correto?</p>
      <div class="options">
        <input type="radio" id="q5a" name="q5" value="a">
        <label for="q5a">Aguardar o retorno das imagens para decidir se aciona viatura</label>

        <input type="radio" id="q5b" name="q5" value="b">
        <label for="q5b">Deslocar viatura imediatamente e notificar chefia se houver arrombamento</label>

        <input type="radio" id="q5c" name="q5" value="c">
        <label for="q5c">Encerrar o evento e registrar como falha técnica</label>

        <input type="radio" id="q5d" name="q5" value="d">
        <label for="q5d">Ligar para o local e aguardar contato do cliente</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>6.</strong>Um Disparo de Pânico é recebido durante o horário de funcionamento da loja, e o operador não obtém resposta ou recebe uma resposta suspeita. O que deve fazer?</p>
      <div class="options">
        <input type="radio" id="q6a" name="q6" value="a">
        <label for="q6a">Aguardar novo contato antes de acionar forças externas</label>

        <input type="radio" id="q6b" name="q6" value="b">
        <label for="q6b">Acionar viatura e também a Polícia Militar (190)</label>

        <input type="radio" id="q6c" name="q6" value="c">
        <label for="q6c">Enviar apenas e-mail ao gestor relatando o ocorrido</label>

        <input type="radio" id="q6d" name="q6" value="d">
        <label for="q6d">Considerar problema técnico e encerrar o evento</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>7.</strong>Um evento de Disparo de Pânico ocorre com a loja fechada. O que isso significa?</p>
      <div class="options">
        <input type="radio" id="q7a" name="q7" value="a">
        <label for="q7a">Emergência real, exigir acionamento da viatura</label>

        <input type="radio" id="q7b" name="q7" value="b">
        <label for="q7b">Tentativa de sabotagem do sistema</label>

        <input type="radio" id="q7c" name="q7" value="c">
        <label for="q7c">Evento de rotina, apenas registrar</label>

        <input type="radio" id="q7d" name="q7" value="d">
        <label for="q7d">Problema técnico, e o operador deve solicitar correção via e-mail ao cliente</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>8.</strong>Em um evento de Não Armado, o contato telefônico com o local é bem-sucedido. O que o operador deve fazer a seguir?</p>
      <div class="options">
        <input type="radio" id="q8a" name="q8" value="a">
        <label for="q8a">Registrar o horário informado para ativação e encerrar o evento</label>

        <input type="radio" id="q8b" name="q8" value="b">
        <label for="q8b">Exigir que o cliente envie e-mail de confirmação</label>

        <input type="radio" id="q8c" name="q8" value="c">
        <label for="q8c">Solicitar acionamento imediato do alarme e aguardar retorno</label>

        <input type="radio" id="q8d" name="q8" value="d">
        <label for="q8d">Acionar a viatura para garantir que o local seja armado</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>9.</strong>Durante o atendimento de um Desarme fora do horário, o operador acessa o CFTV e observa movimentação suspeita. O que deve ser feito?</p>
      <div class="options">
        <input type="radio" id="q9a" name="q9" value="a">
        <label for="q9a">Registrar a ocorrência como "atividade não prevista" e encerrar</label>

        <input type="radio" id="q9b" name="q9" value="b">
        <label for="q9b">Entrar em contato com o local, realizar o procedimento de senha/contrassenha e,se houver irregularidade, enviar viatura</label>

        <input type="radio" id="q9c" name="q9" value="c">
        <label for="q9c">Aguardar o retorno automático do sistema e depois registrar</label>

        <input type="radio" id="q9d" name="q9" value="d">
        <label for="q9d">Solicitar confirmação por e-mail e aguardar</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong>Um evento de Falha de Auto Teste é registrado e, após 5 minutos, o horário de última comunicação ainda é inferior ao do evento. O que o operador deve fazer?</p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">Encerrar o evento imediatamente</label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b">Acessae o CFTV da unidade para verificar a situação e seguir protocolo de suporte técnico se persistir a falha</label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c">Reenviar o teste manualmente e aguardar resposta</label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d">Ligar para o cliente para confirmar se há problema físico</label>
      </div>
    </div>

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>



<script src="/src/static/js/colaborador/modulos/modulo05.js"></script>
</body>
</html>
