<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Revisão - Módulo 09</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo09.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 09 - Revisão </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/" alt="página 11"></div></div>
      
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo06/mod 06 pag 12.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 10 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/" alt="página 11 dark"></div></div>
  
  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo06dark/mod06 pag12 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 09</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="b">
      <p><strong>1.</strong>Durante uma ronda noturna em uma usina, você identifica movimento suspeita próximo à subestação, mas não há disparo de alarme. Qual deve ser a sequência correta de ações do operador? </p>
      <div class="options">
        <label><input type="radio" name="q1" value="a">Registrar ocorrência no sistema, continuar monitoramento e aguardar equipe de campo se houver confirmação posterior </label>
        <label><input type="radio" name="q1" value="b">Acionar prontamente equipe de pronta resposta, comunicar a gestão central e continuar o monitoramento </label>
        <label><input type="radio" name="q1" value="c">Registrar o evento como falso disparo, já que não houve acionamento de sensor </label>
        <label><input type="radio" name="q1" value="d">Apenas contatr o supervisor e aguardar instruções antes de qualquer medida física</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>2.</strong>Em uma usina, ocorre queda total de energia e falha nos sistemas de CFTV. Considerando risco e continuidade operacional, qual é a abordagem correta? </p>
      <div class="options">
        <label><input type="radio" name="q2" value="a">Aguardar retorno de energia e depois checar sistemas críticos</label>
        <label><input type="radio" name="q2" value="b">Apenas notificar supervisor e registrar evento, aguardando normalização</label>
        <label><input type="radio" name="q2" value="c">Iniciar reinício remoto dos sistemas sem contatar equipe local ou CCO</label>
        <label><input type="radio" name="q2" value="d">Confirmar situação via CCO, acionar equipe local, verificar geradores, e sistemas críticos de agurança e refrigeração </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>3.</strong>Um disparo de alarme ocorre em unidades fechada com CFTV parcialmente off-line, e o botão de pânico é acionado. Qual ação imediata é mais adequada? </p>
      <div class="options">
        <label><input type="radio" name="q3" value="a">Contatr unidade via senha/contrassenha, acionar viatura e Polícia Militar, registrar ocorrência detalhada</label>
        <label><input type="radio" name="q3" value="b">Aguardar confirmação das câmeras restantes antes de acionar equipe de pronta resposta </label>
        <label><input type="radio" name="q3" value="c">Encerrar evento como falso disparo, devido à falta de visualização completa </label>
        <label><input type="radio" name="q3" value="d">Apenas notificar supervisor da central e registrar no sistema</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>4.</strong>No leilão de veículos, uma área de alto valor é aberta fora do horário permitido e o responsável não atende. Qual é o procedimento correto? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a">Acionar contatos de contingência na ordem predefinida, registrar todas as tentativas e informar a gestão central</label>
        <label><input type="radio" name="q4" value="b">Aguardar próxima ronda para averiguação visual </label>
        <label><input type="radio" name="q4" value="c">Registrar evento como não crítico, aguardando confirmação posterior </label>
        <label><input type="radio" name="q4" value="d">Acionar apenas a polícia militar, ignorando contatos internos </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>5.</strong>Durante portaria remota, um entregador de grande porte chega sem autorização expressa e o morador não atende. O operador deve:</p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Liberar o entregador, mas registrar no sistema </label>
        <label><input type="radio" name="q5" value="b">Aguardar retorno do morador para autorizar entrada </label>
        <label><input type="radio" name="q5" value="c">Negar entrada, registrar evento e acionar síndico/zelador para liberação supervisionada</label>
        <label><input type="radio" name="q5" value="d">Encaminhar o entregador até a unidade sem intervenção </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>6.</strong>Em agência BASA, ocorre disparo de GN durante expediente, sem evidência de invasão. Qual é a sequência correta? </p>
      <div class="options">
        <label><input type="radio" name="q6" value="a">Abrir ordem se serviço para manutenção, monitorar via CFTV e manter GESEC informado</label>
        <label><input type="radio" name="q6" value="b">Encerrar evento como falso disparo, sem comunicação adicional</label>
        <label><input type="radio" name="q6" value="c">Acionar apenas polícia militar, sem notificar GESEC</label>
        <label><input type="radio" name="q6" value="d">Apenas registrar no sistema e aguardar orientação </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>7.</strong>Um disparo de alarme ocorre em loja fechada simultaneamente com falha de comunicação GPRS. Qual ação correta?</p>
      <div class="options">
        <label><input type="radio" name="q7" value="a">Encerrar evento, pois falha de comunicação invalida o disparo </label>
        <label><input type="radio" name="q7" value="b">Verificar última comunicação, aguardar breve período, acessar CFTV se disponível e acionar viatura se não houver confirmação </label>
        <label><input type="radio" name="q7" value="c">Notificar apenas supervisor local </label>
        <label><input type="radio" name="q7" value="d">Registrar como disparo técnico e continuar monitoramento remoto </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>8.</strong>Em uma usina, um alarme é identificado como "sem visibilidade". Quando acionar Polícia Militar imediatamente?</p>
      <div class="options">
        <label><input type="radio" name="q8" value="a">Sempre que houver disparo sem visibilidade</label>
        <label><input type="radio" name="q8" value="b">Somente se houver indício relevante de sinistro mesmo sem imagens</label>
        <label><input type="radio" name="q8" value="c">Nunca, pois sem imagens não há confirmação </label>
        <label><input type="radio" name="q8" value="d">Apenas após o contato com supervisor local para orientação</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>9.</strong>Queda total de todas as usinas em uma rede, sem comunicação com a gestão central, ocorre simultanemante. Qual é a sequência correta de acionamento?</p>
      <div class="options">
        <label><input type="radio" name="q9" value="a">Aguardar instruções da gestão central antes de qualquer ação</label>
        <label><input type="radio" name="q9" value="b">Encerrar evento como falhas sistêmicas sem contato adicional </label>
        <label><input type="radio" name="q9" value="c">Verificar sistemas remotamente, acionar equipes locais, registrar detalhadamente e escalar para supervisão regional</label>
        <label><input type="radio" name="q9" value="d">Realizar reinício remoto em massa e monitorar resposta</label>
      </div>
    </div>

    

    <div class="exercise-slide" data-answer="c">
      <p><strong>10.</strong> </p>
      <div class="options">
        <label><input type="radio" name="q10" value="a"></label>
        <label><input type="radio" name="q10" value="b"></label>
        <label><input type="radio" name="q10" value="c"></label>
        <label><input type="radio" name="q10" value="d"> </label>
      </div>
    </div>
    

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo09.js"></script>
</body>
</html>
