<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo02.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 02 - Matrix Athon Energia </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod 02 pag 11.png" alt="página 11"></div></div>
  
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo02/mod 02 pag 12.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag01 dark.png" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag02 dark.png" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag03 dark.png" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag04 dark.png" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag05 dark.png" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag06 dark.png" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag07 dark.png" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag08 dark.png" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag09 dark.png" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag10 dark.png" alt="página 10 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag11 dark.png" alt="página 11 dark"></div></div>
 
  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo02dark/mod02 pag12 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>
<section class="exercises">
  <div id="timer">Tempo restante: 30:00</div>

  <div class="exercise-progress">
    <div class="exercise-progress-fill"></div>
  </div>

  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="a">
      <p><strong>1.</strong>Um alarme dispara, mas as câmeras não mostram alterações visíveis. No entanto, há sinais suspeitos no local. Qual é a ação correta do operador? </p>
      <div class="options">
        <input type="radio" id="q1a" name="q1" value="a">
        <label for="q1a">Encaminhar a equipe de pronto atendimento para verificação no local</label>

        <input type="radio" id="q1b" name="q1" value="b">
        <label for="q1b">Considerar o disparo como falso e encerrar o evento</label>

        <input type="radio" id="q1c" name="q1" value="c">
        <label for="q1c">Registrar apenas no sistema e não tomar nenhuma ação física</label>

        <input type="radio" id="q1d" name="q1" value="d">
        <label for="q1d">Silenciar o alarme e aguardar imagens adicionais</label>
      </div>
    </div>

    
    <div class="exercise-slide" data-answer="c">
      <p><strong>2.</strong>Durante uma queda de energia parcial, o operador identifica que sistemas críticos de videomonitoramento e controle de acesso estão afetados. Qual deve ser a prioridade? </p>
      <div class="options">
        <input type="radio" id="q2a" name="q2" value="a">
        <label for="q2a">Acionar imediatamente a equipe local e registrar o evento, avaliando impacto nos sistemas críticos</label>

        <input type="radio" id="q2b" name="q2" value="b">
        <label for="q2b">Esperar que a energia volte automaticamente para avaliar o impacto</label>

        <input type="radio" id="q2c" name="q2" value="c">
        <label for="q2c">Informar a gestão central, sem acionar a equipe local </label>

        <input type="radio" id="q2d" name="q2" value="d">
        <label for="q2d">Registrar o evento no checklist e não tomar outras medidas </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>3.</strong>Em um evento que exige verificação física, qual é a ordem correta de acionamento em campo?</p>
      <div class="options">
        <input type="radio" id="q3a" name="q3" value="a">
        <label for="q3a">Polícia Militar > Equipe de pronto atendimento > Mantenedor técnico > Responsável do cliente</label>

        <input type="radio" id="q3b" name="q3" value="b">
        <label for="q3b">Equipe de pronto atendimento > Polícia Militar > Mantenedor técnico > Responsável do cliente</label>

        <input type="radio" id="q3c" name="q3" value="c">
        <label for="q3c">Equipe de pronto atendimento > Mantenedor técnico > Polícia Militar > Responsável do cliente</label>

        <input type="radio" id="q3d" name="q3" value="d">
        <label for="q3d">Responsável do cliente > Equipe de pronto atendimento > Polícia Militar > Mantenedor técnico</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>4.</strong></p>
      <div class="options">
        <input type="radio" id="q4a" name="q4" value="a">
        <label for="q4a">  </label>

        <input type="radio" id="q4b" name="q4" value="b">
        <label for="q4b">   </label>

        <input type="radio" id="q4c" name="q4" value="c">
        <label for="q4c">   </label>

        <input type="radio" id="q4d" name="q4" value="d">
        <label for="q4d"> </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>5.</strong> </p>
      <div class="options">
        <input type="radio" id="q5a" name="q5" value="a">
        <label for="q5a"> </label>

        <input type="radio" id="q5b" name="q5" value="b">
        <label for="q5b"></label>

        <input type="radio" id="q5c" name="q5" value="c">
        <label for="q5c"> </label>

        <input type="radio" id="q5d" name="q5" value="d">
        <label for="q5d">  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>6.</strong></p>
      <div class="options">
        <input type="radio" id="q6a" name="q6" value="a">
        <label for="q6a"></label>

        <input type="radio" id="q6b" name="q6" value="b">
        <label for="q6b"> </label>

        <input type="radio" id="q6c" name="q6" value="c">
        <label for="q6c"></label>

        <input type="radio" id="q6d" name="q6" value="d">
        <label for="q6d"> </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>7.</strong></p>
      <div class="options">
        <input type="radio" id="q7a" name="q7" value="a">
        <label for="q7a"> </label>

        <input type="radio" id="q7b" name="q7" value="b">
        <label for="q7b"> </label>

        <input type="radio" id="q7c" name="q7" value="c">
        <label for="q7c"> </label>

        <input type="radio" id="q7d" name="q7" value="d">
        <label for="q7d"> </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>8.</strong></p>
      <div class="options">
        <input type="radio" id="q8a" name="q8" value="a">
        <label for="q8a"> </label>

        <input type="radio" id="q8b" name="q8" value="b">
        <label for="q8b"></label>

        <input type="radio" id="q8c" name="q8" value="c">
        <label for="q8c"></label>

        <input type="radio" id="q8d" name="q8" value="d">
        <label for="q8d"></label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>9.</strong> </p>
      <div class="options">
        <input type="radio" id="q9a" name="q9" value="a">
        <label for="q9a"> </label>

        <input type="radio" id="q9b" name="q9" value="b">
        <label for="q9b"> </label>

        <input type="radio" id="q9c" name="q9" value="c">
        <label for="q9c"> </label>

        <input type="radio" id="q9d" name="q9" value="d">
        <label for="q9d"> </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong> </p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">  </label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b"></label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c"> </label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d"> </label>
      </div>
    </div>

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo01.js"></script>
</body>
</html>
