<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo02.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 02 - Matrix Athon Energia </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo02/mod02 pag11.png" alt="página 11"></div></div>
  
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo02/mod02 pag12.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag01 dark.png" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag02 dark.png" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag03 dark.png" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag04 dark.png" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag05 dark.png" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag06 dark.png" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag07 dark.png" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag08 dark.png" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag09 dark.png" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag10 dark.png" alt="página 10 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo02dark/mod02 pag11 dark.png" alt="página 11 dark"></div></div>
 
  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo02dark/mod02 pag12 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>
<section class="exercises">
  <div id="timer">Tempo restante: 30:00</div>

  <div class="exercise-progress">
    <div class="exercise-progress-fill"></div>
  </div>

  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="a">
      <p><strong>1.</strong>Um alarme dispara, mas as câmeras não mostram alterações visíveis. No entanto, há sinais suspeitos no local. Qual é a ação correta do operador? </p>
      <div class="options">
        <input type="radio" id="q1a" name="q1" value="a">
        <label for="q1a">Encaminhar a equipe de pronto atendimento para verificação no local</label>

        <input type="radio" id="q1b" name="q1" value="b">
        <label for="q1b">Considerar o disparo como falso e encerrar o evento</label>

        <input type="radio" id="q1c" name="q1" value="c">
        <label for="q1c">Registrar apenas no sistema e não tomar nenhuma ação física</label>

        <input type="radio" id="q1d" name="q1" value="d">
        <label for="q1d">Silenciar o alarme e aguardar imagens adicionais</label>
      </div>
    </div>

    
    <div class="exercise-slide" data-answer="c">
      <p><strong>2.</strong>Durante uma queda de energia parcial, o operador identifica que sistemas críticos de videomonitoramento e controle de acesso estão afetados. Qual deve ser a prioridade? </p>
      <div class="options">
        <input type="radio" id="q2a" name="q2" value="a">
        <label for="q2a">Acionar imediatamente a equipe local e registrar o evento, avaliando impacto nos sistemas críticos</label>

        <input type="radio" id="q2b" name="q2" value="b">
        <label for="q2b">Esperar que a energia volte automaticamente para avaliar o impacto</label>

        <input type="radio" id="q2c" name="q2" value="c">
        <label for="q2c">Informar a gestão central, sem acionar a equipe local </label>

        <input type="radio" id="q2d" name="q2" value="d">
        <label for="q2d">Registrar o evento no checklist e não tomar outras medidas </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>3.</strong>Em um evento que exige verificação física, qual é a ordem correta de acionamento em campo?</p>
      <div class="options">
        <input type="radio" id="q3a" name="q3" value="a">
        <label for="q3a">Polícia Militar > Equipe de pronto atendimento > Mantenedor técnico > Responsável do cliente</label>

        <input type="radio" id="q3b" name="q3" value="b">
        <label for="q3b">Equipe de pronto atendimento > Polícia Militar > Mantenedor técnico > Responsável do cliente</label>

        <input type="radio" id="q3c" name="q3" value="c">
        <label for="q3c">Equipe de pronto atendimento > Mantenedor técnico > Polícia Militar > Responsável do cliente</label>

        <input type="radio" id="q3d" name="q3" value="d">
        <label for="q3d">Responsável do cliente > Equipe de pronto atendimento > Polícia Militar > Mantenedor técnico</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>4.</strong>Quando a gestão central precisa atuar em um evento, a sequência correta de acionamento é:</p>
      <div class="options">
        <input type="radio" id="q4a" name="q4" value="a">
        <label for="q4a">Coordenação > Supervisão > Gerência  </label>

        <input type="radio" id="q4b" name="q4" value="b">
        <label for="q4b">Gerência > Supervisão > Coordenação   </label>

        <input type="radio" id="q4c" name="q4" value="c">
        <label for="q4c">Supervisão > Coordenação > Gerência   </label>

        <input type="radio" id="q4d" name="q4" value="d">
        <label for="q4d">Supervisão > Gerência > Coordenação </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>5.</strong>Em caso de invasão confirmada, qual é a ação correta para acionar a pronta resposta? </p>
      <div class="options">
        <input type="radio" id="q5a" name="q5" value="a">
        <label for="q5a">Ligar para a Polícia Militar local informando nome da usina, localização, tipo de ocorrência e horário estimado </label>

        <input type="radio" id="q5b" name="q5" value="b">
        <label for="q5b">Informar a gestão central e aguardar instruções</label>

        <input type="radio" id="q5c" name="q5" value="c">
        <label for="q5c">Registrar o evento no sistema sem contato externo </label>

        <input type="radio" id="q5d" name="q5" value="d">
        <label for="q5d">Acionar equipe interna de vigilância e ignorar a Polícia Militar  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>6.</strong>Se a Polícia Militar não atende ao contato qual procedimento deve ser seguido?</p>
      <div class="options">
        <input type="radio" id="q6a" name="q6" value="a">
        <label for="q6a">Registrar apenas a tentativa e aguardar retorno posterior</label>

        <input type="radio" id="q6b" name="q6" value="b">
        <label for="q6b">Repetir o contato pelo menos duas vezes e, se não houver resposta acionar supervisão local ou equipe de pronta resposta da empresa </label>

        <input type="radio" id="q6c" name="q6" value="c">
        <label for="q6c">Silenciar alarmes e registrar como "não atendido"</label>

        <input type="radio" id="q6d" name="q6" value="d">
        <label for="q6d">Apenas implementar reforço de vigilância sem registro de tentativas </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>7.</strong>Durante uma queda total do sistema de videomonitoramento, qual deve ser o plano de contingência?</p>
      <div class="options">
        <input type="radio" id="q7a" name="q7" value="a">
        <label for="q7a">Reforço de vigilância humana, proteção física de acessos, uso de comunicação alternativa e registro detalhado de ações </label>

        <input type="radio" id="q7b" name="q7" value="b">
        <label for="q7b">Registrar o evento no sistema e aguardar retorno da energia </label>

        <input type="radio" id="q7c" name="q7" value="c">
        <label for="q7c">Acionar apenas a equipe de TI sem notificar a gestão central </label>

        <input type="radio" id="q7d" name="q7" value="d">
        <label for="q7d">Notificar somente o cliente e não tomar medidas físicas </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>8.</strong>Qual é a conduta correta se um alarme dispara manualmente indicando ameaça potencial, mas não há imagens disponíveis?</p>
      <div class="options">
        <input type="radio" id="q8a" name="q8" value="a">
        <label for="q8a">Ignorar o evento até que haja imagens </label>

        <input type="radio" id="q8b" name="q8" value="b">
        <label for="q8b">Acionar apoio imediato da equipe de pronta resposta e informar gestão central, mesmo sem imagens</label>

        <input type="radio" id="q8c" name="q8" value="c">
        <label for="q8c">Registrar como falso disparo e encerrar</label>

        <input type="radio" id="q8d" name="q8" value="d">
        <label for="q8d">Apenas informar a supervisão, sem ação no local</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>9.</strong>Em uma queda de energia total que afeta videomonitoramento, alarmes e iluminação de segurança, o operador deve: </p>
      <div class="options">
        <input type="radio" id="q9a" name="q9" value="a">
        <label for="q9a">Verificar sistemas auxiliares, acionar equipe local e notificar gestão central </label>

        <input type="radio" id="q9b" name="q9" value="b">
        <label for="q9b">Registrar o evento no checklist e aguardar retorno da energia </label>

        <input type="radio" id="q9c" name="q9" value="c">
        <label for="q9c">Apenas notificar a gestão central, sem ação presencial </label>

        <input type="radio" id="q9d" name="q9" value="d">
        <label for="q9d">Silenciar alarmes para evitar disparos repetidos </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>10.</strong>Qual das seguintes ações caracteriza má prática no monitoramento de usinas Athon Energia? </p>
      <div class="options">
        <input type="radio" id="q10a" name="q10" value="a">
        <label for="q10a">Implementar plano de contingência durante queda total de sistemas críticos  </label>

        <input type="radio" id="q10b" name="q10" value="b">
        <label for="q10b">Acionar pronta resposta apenas quando indício de risco ou sinistro confirmado</label>

        <input type="radio" id="q10c" name="q10" value="c">
        <label for="q10c">Ignorar sinais suspeitos quando não há imagens disponíveis </label>

        <input type="radio" id="q10d" name="q10" value="d">
        <label for="q10d">Registrar todas as tentativas de contato com a Polícia Militar </label>
      </div>
    </div>

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>


<script src="/src/static/js/colaborador/modulos/modulo02.js"></script>
</body>
</html>
