<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo01.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 01 - Matrix Energia </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 11.png" alt="página 11"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo03/mod 03 pag 12.png" alt="página 12"></div></div>
      
     
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo01/mod 01 pag 13.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 07</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="c">
      <p><strong>1.</strong>Sobre o alarme de sinistro, qual das opções representa uma ação correta a ser tomada ao receber um alerta sem alterações visíveis nas imagens? </p>
      <div class="options">
        <label><input type="radio" name="q1" value="a">Ignorar o evento e esperar novo alerta </label>
        <label><input type="radio" name="q1" value="b">Acionar imediatamente a equipe de pronta resposta </label>
        <label><input type="radio" name="q1" value="c">Tratar como possível disparo falso, mas registrar a ocorrência </label>
        <label><input type="radio" name="q1" value="d">Encaminhar o caso diretamente à diretoria da empresa </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>2.</strong>Em caso de queda total da usina, qual as ações abaixo devem ser feitas primeiro? </p>
      <div class="options">
        <label><input type="radio" name="q2" value="a">Confirmar a queda por meio de múltiplos indicadores</label>
        <label><input type="radio" name="q2" value="b">Aguardar retorno das imagens por 10 minutos </label>
        <label><input type="radio" name="q2" value="c">Acionar imediatamente a equipe de manutenção </label>
        <label><input type="radio" name="q2" value="d">Registrar o evento e encerrar o turno </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>3.</strong>Em caso de câmera desconectada em local crítico, o operador deve: </p>
      <div class="options">
        <label><input type="radio" name="q3" value="a">Esperar que o sistema religue automaticamente </label>
        <label><input type="radio" name="q3" value="b">Verificar possibilidade de sabotagem ou vandalismo  </label>
        <label><input type="radio" name="q3" value="c">Ignorar, se for em área externa  </label>
        <label><input type="radio" name="q3" value="d">Trocar a câmera de lugar </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>4.</strong>Em relação a cronologia de acionamento em campo, o que deve ser feito caso não haja resposta da equipe local? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a">Repetir a tentativa após 2 horas </label>
        <label><input type="radio" name="q4" value="b">Escalar diretamente à diretoria  </label>
        <label><input type="radio" name="q4" value="c">Acionar a supervisão regional  </label>
        <label><input type="radio" name="q4" value="d">Aguardar a próxima ronda noturna  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>5.</strong>Qual a ordem correta de acionamento no campo? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Gerente > Operador > Vigilante  </label>
        <label><input type="radio" name="q5" value="b">Técnico Local > Diretor > Vigilante  </label>
        <label><input type="radio" name="q5" value="c">Técnico ou Vigilante local > Supervisor regional > Manutenção/Engenharia  </label>
        <label><input type="radio" name="q5" value="d">Coordenador > Vigilante > Cliente  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>6.</strong>A gestão central deve ser acionada quando: </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">O operador quiser registrar uma ocorrência leve </label>
        <label><input type="radio" name="q5" value="b">A ronda noturna for feita com sucesso </label>
        <label><input type="radio" name="q5" value="c">Uma câmera for desconectada por falha elétrica </label>
        <label><input type="radio" name="q5" value="d">A equipe de campo não responder ou a situação for grave  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>7.</strong>Quando deve-se acionar a equipe de pronta resposta</p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Falha no login do sistema </label>
        <label><input type="radio" name="q5" value="b">Sinistro grave ou queda total  </label>
        <label><input type="radio" name="q5" value="c">Ocorrência leve detectada por e-mail  </label>
        <label><input type="radio" name="q5" value="d">Troca de vigilante  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>8.</strong>Qual o objetivo principal da ronda noturna? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Garantir que o operador esteja ocupado </label>
        <label><input type="radio" name="q5" value="b">Verificar a integridade da unidade e detectar riscos fora do horário comercial </label>
        <label><input type="radio" name="q5" value="c">Substituir as câmeras de monitoramento  </label>
        <label><input type="radio" name="q5" value="d">Realizar manutenção de equipamentos  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>9.</strong>Qual é um dos principais objetivos da ronda noturna? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Atualizar o sistema de produção em tempo real  </label>
        <label><input type="radio" name="q5" value="b">Realizar pequenos reparo nos equipamentos  </label>
        <label><input type="radio" name="q5" value="c">Efetuar leitura manual dos dados do painel solar </label>
        <label><input type="radio" name="q5" value="d">Detectar movimentação suspeitas e alterações visuais  </label>
      </div>
    </div>

    

    <div class="exercise-slide" data-answer="a">
      <p><strong>10.</strong>Ao acionar a pronta resposta, o operador deve:  </p>
      <div class="options">
        <label><input type="radio" name="q10" value="a">Informar localização, tipo de evento, ações já realizadas e tempo estimado de chegada  </label>
        <label><input type="radio" name="q10" value="b">Informar apenas o nome da usina  </label>
        <label><input type="radio" name="q10" value="c">Acionar direto o cliente </label>
        <label><input type="radio" name="q10" value="d">Acionar apenas se for durante o dia  </label>
      </div>
    </div>
    

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo01.js"></script>
</body>
</html>
