<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo01.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 01 - Matrix Energia </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo 01.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01pag 02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 11.png" alt="página 11"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo01/mod 01 pag 12.png" alt="página 12"></div></div>
      
     
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo01/mod 01 pag 13.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 07</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="b">
      <p><strong>1.</strong> O que deve ser feito imediatamente após o recebimentos de um alarme de sinistro? </p>
      <div class="options">
        <label><input type="radio" name="q1" value="a"> Silenciar o alarme para evitar pânico</label>
        <label><input type="radio" name="q1" value="b"> Verificar a origem e acionar os responsáveis</label>
        <label><input type="radio" name="q1" value="c"> Registrar a ocorrência e agurdar o retorno da equipe</label>
        <label><input type="radio" name="q1" value="d"> Ignorar se parecer um falso alarme</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>2.</strong> Um sinistro pode envolver: assinale a alternativa <b>INCORRETA</b> </p>
      <div class="options">
        <label><input type="radio" name="q2" value="a">Incêndio</label>
        <label><input type="radio" name="q2" value="b">Invasão </label>
        <label><input type="radio" name="q2" value="c">Atualização de software</label>
        <label><input type="radio" name="q2" value="d">Acidente com colaborador </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>3.</strong>Quais são os passos iniciais para tratar uma queda de energia?</p>
      <div class="options">
        <label><input type="radio" name="q3" value="a">Confirmar no sistema, acionar a equipe de campo e verificar abrangência </label>
        <label><input type="radio" name="q3" value="b">Reiniciar o sistema de monitoramento </label>
        <label><input type="radio" name="q3" value="c">Aguardar 30 minutos antes de qualquer ação  </label>
        <label><input type="radio" name="q3" value="d">Comunicar a gestão central sem checar a origem </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>4.</strong> Em casos de queda parcial de energia, qual deve ser o foco imediato do operador? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a">Ligar para a imprensa local </label>
        <label><input type="radio" name="q4" value="b">Avaliar áreas críticas da usina afetada  </label>
        <label><input type="radio" name="q4" value="c">Desligar todo o sistema como precaução </label>
        <label><input type="radio" name="q4" value="d">Acionar a equipe de TI  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>5.</strong>A cronologia de acionamento em campo deve começar por quem? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Diretor Operacional  </label>
        <label><input type="radio" name="q5" value="b">Manutenção </label>
        <label><input type="radio" name="q5" value="c">Técnico Local </label>
        <label><input type="radio" name="q5" value="d">Engenheiro de Segurança</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>6.</strong>Em qual situação o operador pode acionar diretamente a gestão central sem passar pela equipe de campo? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Nenhuma, sempre há uma sequência fixa </label>
        <label><input type="radio" name="q5" value="b">Quando há risco iminente à segurança ou falha grave evidente </label>
        <label><input type="radio" name="q5" value="c">Sempre que quiser acelerar o processo </label>
        <label><input type="radio" name="q5" value="d">Quando não conhece o técnico de plantão  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="d">
      <p><strong>7.</strong>Qual informação NÂO é obrigatória ao comunicar um evento à gestão central?</p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Tipo de ocorrência </label>
        <label><input type="radio" name="q5" value="b">Local exato do evento  </label>
        <label><input type="radio" name="q5" value="c">Status da ocorrência  </label>
        <label><input type="radio" name="q5" value="d">Horário do seu almoço  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="a">
      <p><strong>8.</strong>A equipe de pronta resposta deve ser acionada quando: </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Há falhas severas ou risco à segurança </label>
        <label><input type="radio" name="q5" value="b">Há atraso na chegada do técnico local </label>
        <label><input type="radio" name="q5" value="c">Há necessidade de manutenção de rotina  </label>
        <label><input type="radio" name="q5" value="d">O operador não souber o que fazer  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>9.</strong>Qual o tempo máximo recomendado para chegada da equipe de pronta resposta, após o acionamento? </p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">10 minutos</label>
        <label><input type="radio" name="q5" value="b">30 minutos</label>
        <label><input type="radio" name="q5" value="c">15 minutos</label>
        <label><input type="radio" name="q5" value="d">60 minutos</label>
      </div>
    </div>

    

    <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong>Todas as ocorrências e acionamento devem ser:  </p>
      <div class="options">
        <label><input type="radio" name="q10" value="a">Comunicado verbalmente apenas  </label>
        <label><input type="radio" name="q10" value="b">Registrados no sistema e documentados  </label>
        <label><input type="radio" name="q10" value="c">Apagados após resolução </label>
        <label><input type="radio" name="q10" value="d">Trtatados como informação sigilosa, sem registro  </label>
      </div>
    </div>
    

  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo01.js"></script>
</body>
</html>
