<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Matrix Energia - Módulo 07</title>
<link rel="stylesheet" href="/src/static/css/colaborador/modulos/modulo07.css">
<link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

<header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo_cadastre.png" alt="Logo Alpha Secure">
  </div>
  <div class="voltar_home">
    <a href="/src/templates/colaborador/modulo.html"><p>Home</p></a>
  </div>
</header>

<section class="modules">
  <h2>Bem-vindo(a) ao módulo 07 - Portaria Remota </h2>
  <p>Complete esse módulo para avançar para os exercícios</p>
  

  <div class="modules-carousel">
    <div class="modules-wrapper">
      <!-- Slides normais -->
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 1.png" alt="página 01"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 02.png" alt="página 02"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 03.png" alt="página 03"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 04.png" alt="página 04"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 05.png" alt="página 05"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 06.png" alt="página 06"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 07.png" alt="página 07"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 08.png" alt="página 08"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 09.png" alt="página 09"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 10.png" alt="página 10"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 11.png" alt="página 11"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 12.png" alt="página 12"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 13.png" alt="página 13"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 14.png" alt="página 14"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 15.png" alt="página 15"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 16.png" alt="página 16"></div></div>
      <div class="modules-slide"><div class="module-card"><img src="/src/static/img/modulo07/mod 07 pag 17.png" alt="página 17"></div></div>
      <div class="modules-slide">
        <div class="module-card">
          <img src="/src/static/img/modulo07/mod 07 pag 18.png" alt="Última página">
          <button class="btn-finalizar">Finalizar</button>
        </div>
      </div>
       <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag01 dark.png" alt="página 01 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag02 dark.png" alt="página 02 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag03 dark.png" alt="página 03 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag04 dark.png" alt="página 04 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag05 dark.png" alt="página 05 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag06 dark.png" alt="página 06 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag07 dark.png" alt="página 07 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag08 dark.png" alt="página 08 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag09 dark.png" alt="página 09 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag10 dark.png" alt="página 10 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag11 dark.png" alt="página 11 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag12 dark.png" alt="página 12 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag13 dark.png" alt="página 13 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag14 dark.png" alt="página 14 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag15 dark.png" alt="página 15 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag16 dark.png" alt="página 16 dark"></div></div>
  <div class="modules-slide dark-slide"><div class="module-card"><img src="/src/static/img/modulo07dark/mod07 pag17 dark.png" alt="página 17 dark"></div></div>
  <div class="modules-slide dark-slide">
    <div class="module-card">
      <img src="/src/static/img/modulo07dark/mod07 pag18 dark.png" alt="Última página dark">
      <button class="btn-finalizar">Finalizar</button>
    </div>
  </div>
    </div>
  </div>

 

  <div id="progress-text" style="text-align:center; margin-bottom:8px; font-weight:bold;">Slide 1 de 13</div>
  <div class="thumbnails" style="display:flex; justify-content:center; gap:5px; margin-bottom:15px; overflow-x:auto; padding:5px 0;"></div>



  <div class="carousel-controls">
    <button class="carousel-btn prev">&#10094;</button>
    <button class="carousel-btn next">&#10095;</button>
    <button id="download-btn"><img src="/src/static/img/baixar_modulo.webp" alt="Baixar PDF"></button>
    <button id="fullscreen-btn"><img src="/src/static/img/icone_telaCheia.webp" alt="Tela Cheia"></button>
    <button id="dark-mode-btn" title="Modo Noturno"><img src="/src/static/img/botão_modoescuro.webp" alt=""></button>
  </div>
</section>

<section class="exercises">
  <h2>Exercícios do Módulo 07</h2>
  <div id="timer">Tempo restante: 30:00</div>
  <div class="exercise-wrapper">
    <div class="exercise-slide" data-answer="d">
      <p><strong>1.</strong> Em um condomínio residencial, uma criança desacompanhada solicita a saída pelo interfone. Qual deve ser a conduta correta do atendente da portaria remota?</p>
      <div class="options">
        <label><input type="radio" name="q1" value="a"> Liberar imediatamente, pois se trata de saída</label>
        <label><input type="radio" name="q1" value="b"> Encerrar o atendimento e registrar o ocorrido sem liberar</label>
        <label><input type="radio" name="q1" value="c"> Solicitar o apoio de pronta resposta antes de liberar</label>
        <label><input type="radio" name="q1" value="d"> Liberar apenas após contato com o responsável pela criança</label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="a">
      <p><strong>2.</strong> Um prestador de serviço fixo que atua para o condomínio chega fora do horário habitual. O sistema confirma o cadastro e autorização. O que o operador deve fazer?</p>
      <div class="options">
        <label><input type="radio" name="q2" value="a">Liberar o acesso conforme cadastro, sem necessidade de nova autorização</label>
        <label><input type="radio" name="q2" value="b">Consultar o síndico antes de liberar </label>
        <label><input type="radio" name="q2" value="c">Bloquear o acesso e registrar ocorrência </label>
        <label><input type="radio" name="q2" value="d">Encaminhar a solicitação ao zelador e aguardar retorno </label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="c">
      <p><strong>3.</strong>Durante o atendimento a um condi=omínio comercial, um visitante tenta entrar alegando compromisso com uma empresa do prédio. Não há registro prévio no sistema. Qual deve ser o procedimento?</p>
      <div class="options">
        <label><input type="radio" name="q3" value="a">Liberar o acesso e registrar manualmente o visitante </label>
        <label><input type="radio" name="q3" value="b">Solicitar ao visitante documento de identificação e liberar acesso </label>
        <label><input type="radio" name="q3" value="c">Confirmar com o responsável da unidade antes de liberar  </label>
        <label><input type="radio" name="q3" value="d">Liberar parcialmente até a recepção, sem contato prévio  </label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="c">
      <p><strong>4.</strong> No sistema My Vilage, onde são registradas as regras específicas de um condomínio? </p>
      <div class="options">
        <label><input type="radio" name="q4" value="a"> Aba "Documentos"</label>
        <label><input type="radio" name="q4" value="b"> Aba "Condomínio" </label>
        <label><input type="radio" name="q4" value="c"> Aba "Anotações" </label>
        <label><input type="radio" name="q4" value="d"> Aba "Visitantes" </label>
      </div>
    </div>
    <div class="exercise-slide" data-answer="a">
      <p><strong>5.</strong>Um entregador de pequeno porte chega ao condomínio com uma encomenda. Segundo o procedimento correto, o operador deve:</p>
      <div class="options">
        <label><input type="radio" name="q5" value="a">Confirmar o destinatário, contatar o morador e liberar o passa-volumes </label>
        <label><input type="radio" name="q5" value="b">Liberar o entregador para subir até o apartamento</label>
        <label><input type="radio" name="q5" value="c">Solicitar autorização do síndico antes de qualquer liberação</label>
        <label><input type="radio" name="q5" value="d">Barrar o acesso e pedir que o entregador retorne outro dia</label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>6.</strong> Diante de um disparo de coação, o CFTV mostra o morador acompanhado de um suspeito. O operador deve:</p>
      <div class="options">
        <label><input type="radio" name="q6" value="a">Fazer contato imediato com o morador para confirmar o disparo  </label>
        <label><input type="radio" name="q6" value="b">Aguardar alguns minutos e tentar novo contato  </label>
        <label><input type="radio" name="q6" value="c">Não fazer contato e acionar a pronta resposta e a polícia  </label>
        <label><input type="radio" name="q6" value="d">Apenas registrar o evento no sistema e informar o supervisor  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>7.</strong> Quando ocorre falha no interfone de um condomínio, qual é o protocolo incial a ser seguido?</p>
      <div class="options">
        <label><input type="radio" name="q7" value="a">Solicitar manutenção presencial imediatamente  </label>
        <label><input type="radio" name="q7" value="b">Acionar o TI via grupo de WhatsApp e tentar solução remota </label>
        <label><input type="radio" name="q7" value="c">Comunicar a ocorrência e aguardar instruções  </label>
        <label><input type="radio" name="q7" value="d">Encerrar a ocorrência após registro no sistema  </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>8.</strong> Em um condomínio residencial, uma diarista tenta acessar fora do dia autorizado em seu cadastro. O operador deve:</p>
      <div class="options">
        <label><input type="radio" name="q8" value="a">Liberar, pois ela já possui cadatsro completo </label>
        <label><input type="radio" name="q8" value="b">Liberar parcialmente até a clausura e avisar o morador  </label>
        <label><input type="radio" name="q8" value="c">Entrar em contato com o morador para solicitar autorização </label>
        <label><input type="radio" name="q8" value="d">Negar o acesso e registrar ocorrência sem contato com o morador </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="c">
      <p><strong>9.</strong> Durante um disparo de alarme de incêndio, o CFTV não mostra sinais de fumaça nem fogo. Qual é a conduta correta?</p>
      <div class="options">
        <label><input type="radio" name="q9" value="a"> Desconsiderar o evento e encerrar </label>
        <label><input type="radio" name="q9" value="b"> Acionar bombeiros imediatamente </label>
        <label><input type="radio" name="q9" value="c"> Contatar o síndico ou zelador e solicitar fechamento da porta corta-fogo, se acionada indevidamente </label>
        <label><input type="radio" name="q9" value="d"> Esperar confirmação da equipe de manutenção antes de agir </label>
      </div>
    </div>

    <div class="exercise-slide" data-answer="b">
      <p><strong>10.</strong>Em caso de queda total do sistema da portaria remota, qual é o fluxo corretor de ação do operador?</p>
      <div class="options">
        <label><input type="radio" name="q10" value="a">Aguardar o restabelecimento automático e registrar o evento </label>
        <label><input type="radio" name="q10" value="b">Acionar a quipe de TI via grupo e, se necessário, deslocar-se fisicamnete até a central   </label>
        <label><input type="radio" name="q10" value="c">Encerrar o atendimento e comunicar o síndico  </label>
        <label><input type="radio" name="q10" value="d">Tentar reiniciar manualmente os sistemas locais de cada condomínio  </label>
      </div>
    </div>
  </div>

  <div class="exercise-controls">
    <button class="carousel-btn prev-exercise">&#10094;</button>
    <button class="carousel-btn next-exercise">&#10095;</button>
  </div>

  <button id="submit-exercises" class="btn-submit">Enviar Exercícios</button>
  <div id="score"></div>
  <div id="result-message"></div>
</section>

<footer class="footer">
  <hr class="footer-separator">
  <div class="footer-links">
    <a href="#">Política de Privacidade</a> | 
    <a href="#">Termos de Uso</a> | 
    <a href="#">Suporte</a>
  </div>
  <p class="footer-copy">&copy; 2025 Alpha Secure. Todos os direitos reservados.</p>
</footer>

<script src="/src/static/js/colaborador/modulos/modulo07.js"></script>
</body>
</html>
