<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/src/static/css/auth/login.css">
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form id="form-login">
      <label for="email">Email</label>
      <input type="email" id="email" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" required>

      <button type="submit">Entrar</button>
    </form>
    <p>Não tem conta? <a href="cadastro.html">Cadastre-se</a></p>
  </div>
  <script src="/src/static/js/auth/login.js"></script>
</body>
</html>
