<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Secure - Perfil do Gestor</title>
    <link rel="stylesheet" href="/src/static/css/gestor/perfil.css">
    <link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>

    <header class="header">
  <div class="logo-box">
    <img src="/src/static/img/logo header.png" alt="Logo Alpha Secure">
  </div>
  <div class="user-box">
    <span id="user-name">Olá,</span>
    <span class="user-role">Gestor</span>
  </div>
</header>



<div class="main-container">

  <aside class="sidebar">
    <nav>
      <ul>
        
        <li><a href="/src/templates/gestor/equipe.html">Equipe</a></li>
        <li><a href="/src/templates/gestor/relatorio.html">Feedback</a></li>
         <li><a href="#" class="active">Meu Perfil</a></li>
        <li><a href="/src/templates/auth/login.html">Sair</a></li>
      </ul>
    </nav>
  </aside>
  
</div>
<script src="/src/static/js/gestor/perfil.js"></script> 
</body>
</html>