<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - Página Gestor</title>
    <link rel="stylesheet" href="/src/static/css/gestor/relatorio.css">
    <link rel="shortcut icon" href="/src/static/img/logo header.png" type="image/x-icon">
</head>
<body>
    



<div class="main-container">

  <aside class="sidebar">
    <nav>
      <ul>
        
        <li><a href="/src/templates/gestor/equipe.html">Equipe</a></li>
             <li><a href="#" class="active">Feedback</a></li>
        <li><a href="/src/templates/auth/login.html">Sair</a></li>
      </ul>
    </nav>
  </aside>
  
  <div class="feedback-container">
  <h2>Relatório de Desempenho</h2>
  <p class="subtitulo">Análise detalhada do progresso da equipe</p>

  <div class="resumo-desempenho">
    <div class="progresso">
      <span>Progresso Médio</span>
      <strong id="progresso-medio">0%</strong>
    </div>
    <div class="conclusao">
      <span>Taxa de Conclusão</span>
      <strong id="taxa-conclusao">0%</strong>
    </div>
  </div>

  <br>

  <h3>Enviar Feedback</h3>
  <p>Envie feedback direcionado para os colaboradores</p>

  <ul id="lista-feedback" class="lista-feedback">
    <!-- Lista de colaboradores preenchida pelo JS -->
  </ul>

  <button id="btn-ver-todos-feedback" class="btn-ver-todos">Ver todos</button>
</div>

</div>

<script src="/src/static/js/gestor/relatorio.js"></script>
</body>
</html>