* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}


.header {
  background: #fffbfb25;
  border-radius: 30px;
  box-shadow: 0 6px 18px rgba(114, 114, 114, 0.15);
  padding: 15px 30px;
  margin: 15px 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo-box img {
  max-height: 75px;
  width: auto;
  border-radius: 10px;
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#user-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-role {
  margin-top: 5px;
  background: #c2792577;
  color: #c27925;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 600;
}



.main-container {
  display: flex;
  margin: 30px 20px;
}


.sidebar {
  width: 220px;
  position: sticky;
  top: 20px;
  background: #fff;
  border-radius: 20px;
  padding: 50px 15px;
  min-height: 700px;
  box-shadow: inset 0 4px 10px rgba(0,0,0,0.05), 0 6px 12px rgba(0,0,0,0.1);
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  display: block;
  padding: 15px 20px;
  border-radius: 15px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: all 0.3s;
  background: #f5f7fa;
}

.sidebar ul li a:hover {
  background: #f88a15;
  color: black;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.sidebar ul li a.active {
  background: #f88a15;
  color: black;
  font-weight: bold;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  transform: translateX(30px); 
}



.header h2 {
  font-size: 22px;
  color: #333;
}

.content {
  flex: 1;
  margin-left: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 30px 20px;
  border-radius: 50px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  margin: 0 auto 25px auto;
  max-width: 1000px;
}

.search-bar i {
  color: #555;
  margin-right: 10px;
  font-size: 1.2rem;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
}

.content {
  flex: 1;
  margin-left: 30px;
}

/* LISTA DE EQUIPE */
.lista-equipe {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-colaborador {
  background: #fff;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-colaborador {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-colaborador img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dados {
  display: flex;
  flex-direction: column;
}

.dados p {
  font-size: 14px;
  color: #333;
}

.status {
  background: #d1f7d6;
  color: #0b8b1d;
  border-radius: 20px;
  padding: 5px 12px;
  font-size: 13px;
  font-weight: bold;
}

.status.offline {
  background: #eee;
  color: #888;
}

/* RODAPÉ */
.footer-filtros {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 15px;
}

#filtro-status {
  border-radius: 12px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  outline: none;
}

.btn-ver-tudo {
  background: #fbd1a2;
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn-ver-tudo:hover {
  background: #f8b868;
}